<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Meus pokemons</title>

        <link href="styles/index.css" rel="stylesheet"/>
    </head>
    <body>    
        <header>
            <h1 class="titulo">PokeAPI</h1>
            <div>
                <img 
                src="https://avatars.githubusercontent.com/u/79873506?s=460&u=c4caf19a4e0348bb44e3eaa8a245fea4b1c0fdca&v=4"    
                alt="Foto"
                />
                <span>Minha conta</span>
            </div>
        </header>
        <main>
            <div id="pesquisa">
                <input class="styled-input" type="text" placeholder="Digite o nome do Pokémon"/>
            </div>
            <div class="lista">
                    <div class="pokemon">
                        <strong>#1 Pineco</strong>
                        <img 
                        src="img/pineco.png"
                        alt="Pokemon pineco"
                        width="200px"
                        />
                    </div>
                    <div class="pokemon">
                        <strong>#2 Pikachu</strong>
                        <img 
                        src="img/pikachu.png" 
                        alt="Pokemon pikachu"
                        width="200px"
                        />
                    </div>
            </div>
        </main>
        <form class="form" method="POST" action="/enviar-mensagem">
            <h2>Entre em contato conosco</h2>
            <label for="name">Nome</label>
            <input 
                class="styled-input" 
                type="text" 
                name="name" 
                id="name" 
                placeholder="Digite o seu nome"/>

            <label for="e-mail">E-mail</label>
            <input 
                class="styled-input" 
                type="email" 
                name="email" 
                id="email" 
                placeholder="Digite o seu e-mail"/>
        
            <label for="comentario">Comentário</label>
            <textarea 
                class="styled-input" 
                name="comentario" 
                id="comentario" 
                rows="6" 
                placeholder="Digite seu comentário"
                maxlength="140"
            ></textarea>

            <button type="submit">Enviar mensagem</button>
        </form>
        <footer>
            <span>Desenvolvido por Breno Estrella</span>
        </footer>
    </body>
</html>